/* --------------------------------------------------- */
/* ------------------ Structure page ----------------- */
/* --------------------------------------------------- */
html{
	font-family: 'Raleway';
}
html a{
	text-decoration: none;
}
html h1{
	font-size: 19px;
}
html h2{
	font-size: 17px;
	color: black;
}
html p{
	font-size: 15px;
	margin: 0;
}
body{
	margin: -0.1px 0 0 0;
}
.survol:hover{
	box-shadow: 0px 0px 21px 0px black;
}
.survoltexte:hover{
	transform: scale(1);
	text-shadow: 6px 6px 6px black;
}
.flexCenter{
	display: flex;
	align-items: center;
}
.flexColonne{
	display: flex;
	flex-direction: column;
}
.flexwrap{
	display: flex;
	flex-wrap: wrap;
}
.flexBetween{
	display: flex;
	justify-content: space-between;
}
.justifyCenter{
	display: flex;
	justify-content: center;
}
/* --------------------------------------------------- */
/* ---------------------- Header --------------------- */
/* --------------------------------------------------- */
header{
	height: 125px;
	font-size: 20px;
	margin: 0 40px 0 40px;
}
.logo{
	width: 150px;
}
.imgBooki{
	width: 100%;
}
.menu{
	width: auto;
	height: 100%;
}
.nav{
	width: 200px;
    color: black;
}
.nav:hover{
	border-top: solid 4px #0065FC;
	color: #0065FC;
}
/* --------------------------------------------------- */
/* ---------------------- Main ----------------------- */
/* --------------------------------------------------- */	
#corp_page{
	margin: 0 2% 50px 2%;
}
/*---------------- Section 1 ---------------- */
#section1{
	height: auto;
	margin-bottom: 30px;
}
.formulaire{
	width: 450px;
	height: 40px;
	font-weight: bold;
	border-radius: 15px;
	border: 1px solid #F2F2F2;
	margin: 30px 0 30px 0;
}
.icone1 {
	width: 40px;
	height: 40px;
	background: #F2F2F2;
	border-radius: 15px 0 0 15px ;
}
#localisation{
	font-size: 17px;
	width: 90%;
	height: 40px;
	font-weight: bold;
	margin-left: 15px;
	border: none;	
}
.btnSearch{
	height: 40px;
	color: white;
	background-color: rgba(0, 101, 252);
	border-radius: 0 15px 15px 0;
	transition: all 0.3s ease-out;
}
.sizeSearch{
	width: 150px;
}
.sizeLoupe{
	display: none;
	width: 50px;
}
.btnSearch:hover{
	background-color: rgba(0, 101, 252, 0.594);
}
/* ---------- filtres --------- */
#filtre{
	width: 100%;
	margin: 10px 0 10px 0;
}
.titleFiltre{
	font-size: 15px;
	margin-right: 30px;
}
.bouton_filtre{
	font-weight: bold;
	height: 45px;
	color: black;
}
.btn{
	border: 3px solid #F2F2F2;
	border-left: 3px solid white;
	border-radius: 50px;
	margin: 10px 5px 10px 5px;
	transition: all 0.5s ease-out;
}
.économie{	
	width: 160px;
}
.familial{
	width: 130px;
}
.romantique{
	width: 150px;
}
.animaux{
	width: 200px;
}
.icone3{
	width: 50px;
	height: 50px;
	background: #DEEBFF;
	border-radius: 50px;
	color: #0065FC;
	margin-right: 10px;
	margin-left: -3px;
	cursor: pointer;
}
#info1{
	margin-top: 20px;
	margin-bottom: 20px;
}
.info2{
	margin-right: 20px;
	border: 3px solid #F2F2F2;
	border-radius: 50px;
	color: #0065FC;
	width: 30px;
	height: 30px;
}
/* --------------------------------------------------- */
/*--------------------- Section 2 -------------------- */
/* --------------------------------------------------- */
#section2{
	margin-bottom: 50px;
}
.bluestar{
	color: #0065FC;
	font-size: 10px;
}
.whitestar{
	color: #F2F2F2;
	font-size: 10px;
}
.text{
	margin: 5px;
    color: black;
	height: 42px;
}
.text p{
	font-size: 9px;
}
.text1{
	font-size: 11px;
	margin: 0;
}
.Hebergement{
	flex: 2;
	height: auto;
	border-radius: 25px;
	background-color: #F2F2F2;
	margin-right: 10px;
}
.Hebergement h1{
	margin: 20px;
}
.Hebergement h2{
	margin: 0 20px 20px 20px;
}
.bulle_article{
	margin-bottom: 20px;
}
.article{
	border-radius: 15px;
	width: 30%;
	height: 140px;
	background-color: white;
	box-shadow: 6px 6px 6px rgb(214, 214, 214);
	padding: 3px;
	margin: 7px;
}
.imgCadre{
	background-position:center;
	background-size: cover;
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 90px;
}
.imghebergement1{
	background-image: url(images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.imghebergement2{
	background-image: url(images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.imghebergement3{
	background-image: url(images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.imghebergement4{
	background-image: url(images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.imghebergement5{
	background-image: url(images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.imghebergement6{
	background-image: url(images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.popularite{
	flex: 1;
	width: 32%;
	height: auto;
	background-color: #F2F2F2;
	border-radius: 25px;
	padding-bottom: 20px;
	margin-left: 10px;
}
.popularite1{
	font-size: 17px;
	justify-content: space-around;
}
.popularite1 h1{
	margin: 20px 0 20px 0px ;
}
.bulle_poparticle{
	width: 100%;
}
.poparticle{
	display: flex;
	border-radius: 15px;
	width: 80%;
	background-color: white;
	box-shadow: 6px 6px 6px rgb(214, 214, 214);
	margin: 10px;
	padding: 3px;
}
.imgPop{
	background-position:center;
	background-size: cover;
	border-radius: 10px 0 0 10px;
	width: 150px;
	height: 100px;
}
.imgpopulaire1{
	background-image: url(images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}
.imgpopulaire2{
	background-image: url(images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg);
}
.imgpopulaire3{
	background-image: url(images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}
.textpop1{
	margin: 3%;
	width: 190px;
    color: black;
}
.textpop2 h6{
	margin: 0 0 5px 0;
	font-size: 11px;
}
.textpop2 p{
	margin: 0 0 5px 0;
	font-size: 9px;
}
/*--------------------- Section 3 -------------------- */
/* --------------------------------------------------- */
.super_bloc{
	width: 50%;
}
.blocgeneral{
	display: flex;
}
.blocSize{
	width: 50%;
	height: 360px;
}
.blocSizeXl{
	width: 50%;
}
.text1_activite h3{
	margin: 12px;
	color: black;
	font-size: 13px;
}
.art{
	border-radius: 15px;
	width: 90%;
	background-color: white;
	box-shadow: 6px 6px 6px rgb(214, 214, 214);
	margin: 16px;
}
.activiteXl{
	height: 340px;
}
.activiteMeduim{
	height: 175px;
}
.activiteSmall{
	height: 135px;
}
.imgActi{
	background-position:center;
	background-size: cover;
	border-radius: 10px 10px 0 0;
	width: 100%;
}
.imgactivite1{
	background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
	height: 295px;
}
.imgactivite2{
	background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
	height: 130px;
}
.imgactivite3{
	background-image: url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
	height: 90px;
}
.imgactivite4{
	background-image: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
	height: 295px;
}
.imgactivite5{
	background-image: url(images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
	height: 90px;
}
.imgactivite6{
	background-image: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
	height: 130px;
}
/* footer */
footer{
	background-color: #f2f2f2;
}
.margefoot{
	display: flex;
}
.blocfoot1{
	margin: 3%;
	width: 50%;
}
footer h3{
	font-size: 15px;
	margin: 8px 0 8px 0;
}
footer a{
	color: black;
	font-size: 13px;
	margin: 8px 0 8px 0;

}
/* --------------------------------------------------- */
/* ---------------- responsive tablet ---------------- */
/* --------------------------------------------------- */
@media all and (min-width: 1300px){
	header{
		margin: 0 13% 0 13%;
		max-width: 1420px;
	}
	#corp_page{
		margin: 0 13% 50px 13%;
		max-width: 1420px;
	}					/* footer */
	.margefoot{
		margin: 0 13% 0 13%;
		max-width: 1420px;
	}
	}

@media all and (max-width: 991px){
	/* ------------ header ------------ */
	/* -------------------------------- */
	header{
		flex-direction: column;
		height: 180px;
	}
	.menu{
		width: 100%;
	}
	.nav{
		width: 100%;
	}
	.nav:hover{
		border-top: none;
		border-bottom: solid 4px #0065FC;
	}
	/* ----------- section 1 ----------- */
	.formulaire{
		width: 400px;
	}
	/* ---------- section 2 ------------ */
	#section2{
		flex-direction: column-reverse;
	}
	.Hebergement{
		background-color: white;
		margin: 20px 0 0 0
	}
	.article{
		width: 40%;
		height: auto;
	}
	.text{
		height: 50px;
		align-items: initial;
		margin: 5px 5px 5px 15px;
	}
	.text p{
		font-size: 11px;
	}
	.text1 h6{
		font-size: 13px;
	}
	.popularite{
		width: auto;
	}
	.poparticle{
		width: 40%;
	}
	/* ---------- section 3 ------------ */
	#accueil_activite h1{
		margin-left: 20px;
	}
	.blocgeneral{
		flex-direction: column;
	}
	.super_bloc{
		width: 100%;
		height: 660px;
	}
	.blocSize{
		width: 100%;
		height: 220px;
	}
	.blocSizeXl{
		width: 100%;
	}
	.bigarticles_activite{
		width: 90%;
		height: 200px;
		margin: 10px;
	}
	.art{		
		flex-wrap: wrap;
		width: 90%;
		height: 200px;
		margin: 10px;
	}
	.imgActi{
		height: 160px;
	}
	/* ------------ footer ------------ */
	/* -------------------------------- */
	.blocfoot1{
		margin: 20px 20px 30px 30px;
		width: 90%;
	}
	.blocfoot1 p{
		margin: 10px 0 10px 0;
	}
	footer h3{
		font-size: 16px;
		margin: 20px 0 20px 0;
	}
	footer p{
		font-size: 13px;
	}
	p a{
		margin: 10px 0 10px 0;
		color: black;
	}
}
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
@media all and (max-width: 767px){
	/* ------------ header ------------ */
	/* -------------------------------- */
	header{
		margin: 20px 0 0 0;
		font-size: 20px;
	}
	/* ---------- section 1 ------------ */
	#section1{
		margin: 0 10px 0 10px;
	}
	#corp_page{
		margin: 0 0 100px 0;
	}
	.formulaire{
		width: 50%;
	}
	.sizeLoupe{
		display: flex;		
	}
	.sizeSearch{
		display: none
	}
	/* ---------- section 2 ------------ */
	.article{
		width: 90%;
		max-width: 380px;
		margin: 10px 0 10px 0;
	}
	.popularite{
		border-radius: 0;
		margin: 0;
	}
	/* ------------ footer ------------ */
	/* -------------------------------- */
	.margefoot{
		flex-direction: column;
	}
}
/* ----------------------------------------------------------------- */
@media all and (max-width: 374px){
/* ----------- Header ----------- */
	header{
		height: 250px;
	}
	.menu{
		flex-direction: column;
	}

	.poparticle{
		width: 85%;
	}
}